/*1440 900*/
@font-face {
  font-family: "Intro";
  src: url("assets/fonts/IntroRust-Base.woff2"),
    url("assets/fonts/IntroRust-Base.woff");
  font-display: swap;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 120%;
}
* {
  box-sizing: border-box;
  font-size: 1.3rem;
}
body {
  padding: 0;

  max-width: 90%;

  margin-left: 5%;
}
.header {
  width: 100%;
  margin-bottom: 20px;

  height: auto;
  background-image: url("backvr3.jpg");
  background-size: 600px;
}
.header__logo-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.header__logo {
  object-fit: contain;
  width: 25%;
  height: auto;
}

.header__textbutton {
  font-size: 10px;
  display: inline;
  width: 25%;
}
.header__button {
  width: 10px;
}
.header__textbutton_cart {
  font-size: 50%;
  height: 5%;
}
.header-info__text {
  font-size: 2rem;
}
.header__textbutton_card {
  width: 170px;
  font-size: 20px;
}
.header__button_card {
  width: 30px;
}
.header-img {
  display: none;
}

.header-info {
  font-size: 6vw;
  display: block;
}
.main {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.main__title {
  font-size: 30px;
}
.main-container {
  margin: 0 auto;
  width: 100%;
}
.main-container__title {
  font-family: "Intro", "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.main-container__subtitle,
.header-info__caption {
  font-family: "Roboto Slab", "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
}
.main-container__subtitle {
  font-size: 0.7rem;
}
.main-container__grid {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin-left: auto;
}
.main-container__item {
  width: 90%;
  min-width: 200px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-container__card {
  min-height: 100%;
  padding: 2vw;
}
.main-container__base {
  padding: 0 2vw 2vw 0;
}

.main-container__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-six {
  display: block;

  color: white;
  background-color: #ec615b;
}

.button {
  display: block;

  background-color: #5222d0;
  outline: 0;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.main-input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  margin: 1rem 0 1rem 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.main-container__textbutton {
  font-size: 10px;
  margin: 1rem 0;
}
.nav__header-menu {
  display: inline;
  justify-content: center;
  font-family: "Roboto Slab", "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 10px;
  color: #5222d0;
  padding: 10px;
}
.footer-menu {
  display: flex;
  width: 100%;
  margin-left: 5%;
}
@media screen and (min-width: 540px) {
  .header-info__text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 720px) {
  .header {
    width: 100%;
    margin-bottom: 20px;

    height: auto;
    background-image: none;
    background-size: auto;
  }
  .header__logo {
    width: 20%;
  }
  .header-img {
    display: block;
    float: right;
    width: 50%;
  }
  .header-info__text {
    font-size: 60%;
  }
  .header__button_cart {
    width: 15%;
  }
  .header__textbutton_cart {
    width: 6rem;
    font-size: 20px;
  }
  .header__textbutton_card {
    margin-bottom: 50px;
  }
  .nav__header-menu {
    font-size: 50%;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
  }

  .main-container__item {
    width: 27vw;
  }
  .main-container__subtitle {
    font-size: 70%;
  }
  .main-container__item {
    width: 50%;
  }
}

@media screen and (min-width: 1140px) {
  .header-info__text {
    font-size: 80%;
  }
  .header-info__caption {
    font-size: 30%;
  }
  .header__textbutton_card {
    width: 8rem;
    height: auto;
    padding: 10px 0;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .main-container__item {
    width: 30%;
  }
  .main-container__subtitle {
    font-size: 0.7rem;
  }
}
